<!-- Footer Component HTML -->
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Quick Links</h3>
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/products">Products</a>
            <a routerLink="/contact">Contact Us</a>
            <a routerLink="/cart">Cart</a>
        </div>

        <div class="box">
            <h3>Extra Links</h3>
            <a routerLink="/account">My Account</a>
        </div>

        <div class="box">
            <h3>Locations</h3>
            <span>Cairo<br>
            Alexandria<br>
            Mansoura
            </span>
        </div>

        <div class="box">
            <h3>Contact Info</h3>
            <a href="tel:+20123456789">+20 0123456789</a>
            <a href="mailto:rwan.sameh.ahmed@gmail.com">rwan.sameh.ahmed@gmail.com</a>
            <a href="https://www.shift4shop.com/credit-card-logos.html">
                <img alt="Credit Card Logos" title="Credit Card Logos"
                     src="https://www.shift4shop.com/images/credit-card-logos/cc-sm-5.png"
                     width="249" height="28" border="0" />
            </a>
        </div>

        <div class="credit">created by <span>Rwan Sameh, Abdelrahman Aboarab, Bassant Mohamed</span> | all rights reserved.</div>
    </div>
</section>
