<section class="header" id="header">
    <video #videoPlayer autoplay muted loop playsinline class="background-video">
        <source src="https://videos.pexels.com/video-files/4974756/4974756-hd_1366_720_25fps.mp4" type="video/mp4" />
    </video>
    <div class="content">
        <span> Let Your Jewelry Tell Your Story </span>
        <p>Isis welcomes you to a world of adornment, where jewelry transcends sparkle and shine to become a narrative... We believe that every piece you wear tells a story, reflecting your unique journey and personal style. Join us on a journey where each piece is not just an accessory, but a reflection of your personal saga — crafted with the utmost care and designed to tell your unique story. Experience the allure of fine jewelry with Isis, where tradition meets modern sophistication.</p>
        <a routerLink="/products" class="button">shop now</a>
    </div>
</section>
