<section class="icons-container">
    <div class="icons">
        <img src="https://cdn-icons-png.flaticon.com/512/411/411776.png" alt="Free Delivery Icon" />
        <div class="info">
            <h3>FREE DELIVERY</h3>
            <span>On All Orders</span>
        </div>
    </div>

    <div class="icons">
        <img src="https://cdn-icons-png.flaticon.com/512/10030/10030686.png" alt="14 Days Returns Icon" />
        <div class="info">
            <h3>14 DAYS RETURNS</h3>
            <span>Moneyback Guarantee</span>
        </div>
    </div>

    <div class="icons">
        <img src="https://cdn-icons-png.flaticon.com/512/879/879757.png" alt="Offers & Gifts Icon" />
        <div class="info">
            <h3>OFFERS & GIFTS</h3>
            <span>On All Orders</span>
        </div>
    </div>

    <div class="icons">
        <img src="https://cdn-icons-png.flaticon.com/512/4575/4575124.png" alt="Secure Payments Icon" />
        <div class="info">
            <h3>SECURE PAYMENTS</h3>
            <span>For All Methods</span>
        </div>
    </div>
</section>