<nav class="navbar">
  <a routerLink="/" class="logo">Isis<span>.</span></a>
  <div class="nav-links">
    <a routerLink="/home">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/contact">Contact Us</a>

    <!-- If admin, show dashboard -->
    <a *ngIf="isAdmin()" routerLink="/dashboard">Dashboard</a>
  </div>

  <div class="icons">
    <!-- Cart icon -->
    <a
      routerLink="/cart"
      class="fas fa-shopping-cart"
      *ngIf="this.isLoggedIn()"
    ></a>

    <!-- If user is logged in, show name next to the cart icon -->
    <ng-container *ngIf="isLoggedIn(); else loginLink">
      <span class="user-name">{{ currentUser?.name }}</span>
      <!-- Show user name here -->
      <button (click)="logout()">Logout</button>
    </ng-container>

    <!-- If not logged in, show login link -->
    <ng-template #loginLink>
      <a routerLink="/login" class="fas fa-user"></a>
      <a routerLink="/signup">SignUp</a>
    </ng-template>
  </div>
</nav>
